*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color{
    color: #dc3545;
}


label{
    color: green;
}



.img1{
  
   
  
   width: 100px;
   height: 20px;
  
}
.but1{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
