*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid .block{
    color: white;
}
.container-fluid .block:hover{
    color:#ffc600!important;

}
.block1{
    color: #ffc600!important;
}

.languages .ua {
    background-color: #ffc600;
    color: black;
    text-align:center ;
    text-decoration: none;
   
}
.languages .ru{
    text-decoration: none;
    font-size: 16px;
    color:white;
    padding: 5rem;
    cursor: pointer;    
}

.languages1 .ua1{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.languages1 .ru1{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.languages1 .ru1:hover{
    color: rgb(89, 89, 186);
    
}
.languages1 .ua1 span::before{
    content: "|";


}
.languages1 .ua1 span::after{
    content: "|";
   
}
.block2{
    background-color:#e7e9eb; 
    padding: 1rem;
    margin: 10px;
}
.block2 .color-black a{
    color: black;
    text-decoration: none;
    font-size: 17px;
   
}
.block2 .color-gray{
    color: #6c757d;
}
.block2 .color-black a:hover{
    border-bottom: 2px solid black;
   
}
.block2 a:hover .color-gray{
    border-bottom: none;
}
.block3 .ot{
     margin-left: 200px;
     font-size: 40px;
}

 .block4 iframe{
    width:800px;
    height: 500px;
    margin-left: 200px;

}
.mb-2 .yellow-button{
    background:#ffc600;
    color:#000;
    border-radius:0;
    border:3px solid #ffc600;
    box-shadow: none;

}
.mb-2 .yellow-button:hover{
    background-color: black;
    color: #ffc600;
    border: 3px solid black;
}
.block3{
    position: relative;
}

.block5 button{
    background-color: #ffc600;
    color: white;
    height: 55px;
    width: 200px;
    animation: knopka 5s ;
}
.btn-warning{
   
    position: fixed;
    right: 10px;
    bottom: 10px;
    animation: b 5s;
    
}
@keyframes knopka {
    0% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    90% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}